version: "3.8"

x-shared:
  zammad-service: &zammad-service
    environment: &zammad-environment
      MEMCACHE_SERVERS: ${MEMCACHE_SERVERS:-zammad-memcached:11211}
      POSTGRESQL_DB: ${POSTGRES_DB:-zammad_production}
      POSTGRESQL_HOST: ${POSTGRES_HOST:-zammad-postgresql}
      POSTGRESQL_USER: ${POSTGRES_USER:-zammad}
      POSTGRESQL_PASS: ${POSTGRES_PASS:-zammad}
      POSTGRESQL_PORT: ${POSTGRES_PORT:-5432}
      POSTGRESQL_OPTIONS: ${POSTGRESQL_OPTIONS:-?pool=50}
      POSTGRESQL_DB_CREATE:
      REDIS_URL: ${REDIS_URL:-redis://zammad-redis:6379}
      S3_URL:
      BACKUP_DIR: "${BACKUP_DIR:-/var/tmp/zammad}"
      BACKUP_TIME: "${BACKUP_TIME:-03:00}"
      HOLD_DAYS: "${HOLD_DAYS:-10}"
      TZ: "${TZ:-Europe/Berlin}"
      AUTOWIZARD_JSON:
      AUTOWIZARD_RELATIVE_PATH:

      ELASTICSEARCH_ENABLED: ${ELASTICSEARCH_ENABLED:-true}
      ELASTICSEARCH_SCHEMA: ${ELASTICSEARCH_SCHEMA:-http}
      ELASTICSEARCH_HOST: ${ELASTICSEARCH_HOST:-zammad-elasticsearch}
      ELASTICSEARCH_PORT: ${ELASTICSEARCH_PORT:-9200}
      ELASTICSEARCH_USER:
      ELASTICSEARCH_PASS:
      ELASTICSEARCH_NAMESPACE:
      ELASTICSEARCH_REINDEX:

      NGINX_PORT:
      NGINX_CLIENT_MAX_BODY_SIZE:
      NGINX_SERVER_NAME:
      NGINX_SERVER_SCHEME:
      RAILS_TRUSTED_PROXIES:
      ZAMMAD_HTTP_TYPE:
      ZAMMAD_FQDN:
      ZAMMAD_WEB_CONCURRENCY:
      ZAMMAD_PROCESS_SESSIONS_JOBS_WORKERS:
      ZAMMAD_PROCESS_SCHEDULED_JOBS_WORKERS:
      ZAMMAD_PROCESS_DELAYED_JOBS_WORKERS:
      ZAMMAD_SESSION_JOBS_CONCURRENT:
      VIRTUAL_HOST:
      VIRTUAL_PORT:
      LETSENCRYPT_HOST:
      LETSENCRYPT_EMAIL:

    image: ${IMAGE_REPO:-ghcr.io/zammad/zammad}:${VERSION:-6.5.2-46}
    restart: ${RESTART:-always}
    volumes:
      - /mnt/user/appdata/zammad/storage:/opt/zammad/storage
    depends_on:
      - zammad-memcached
      - zammad-postgresql
      - zammad-redis

services:
  zammad-backup:
    <<: *zammad-service
    container_name: zammad-backup
    command: ["zammad-backup"]
    volumes:
      - /mnt/user/appdata/zammad/backup:/var/tmp/zammad
      - /mnt/user/appdata/zammad/storage:/opt/zammad/storage:ro
    user: 0:0

  zammad-elasticsearch:
    image: elasticsearch:${ELASTICSEARCH_VERSION:-8.19.8}
    container_name: zammad-elasticsearch
    restart: ${RESTART:-always}
    user: "1000:1000"
    volumes:
      - /mnt/user/appdata/zammad/elasticsearch:/usr/share/elasticsearch/data
    environment:
      discovery.type: single-node
      xpack.security.enabled: 'false'
      ES_JAVA_OPTS: ${ELASTICSEARCH_JAVA_OPTS:--Xms1g -Xmx1g}

  zammad-init:
    <<: *zammad-service
    container_name: zammad-init
    command: ["zammad-init"]
    depends_on:
      - zammad-postgresql
    restart: on-failure
    user: 0:0

  zammad-memcached:
    container_name: zammad-memcached
    command: memcached -m 256M
    image: memcached:${MEMCACHE_VERSION:-1.6.39-alpine}
    restart: ${RESTART:-always}

  zammad-nginx:
    <<: *zammad-service
    container_name: zammad-nginx
    command: ["zammad-nginx"]
    expose:
      - "${NGINX_PORT:-8080}"
    ports:
      - "${NGINX_EXPOSE_PORT:-8080}:${NGINX_PORT:-8080}"
    depends_on:
      - zammad-railsserver

  zammad-postgresql:
    container_name: zammad-postgresql
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-zammad_production}
      POSTGRES_USER: ${POSTGRES_USER:-zammad}
      POSTGRES_PASSWORD: ${POSTGRES_PASS:-zammad}
    image: postgres:${POSTGRES_VERSION:-17.7-alpine}
    restart: ${RESTART:-always}
    volumes:
      - /mnt/user/appdata/zammad/postgresql:/var/lib/postgresql/data

  zammad-railsserver:
    <<: *zammad-service
    container_name: zammad-railsserver
    command: ["zammad-railsserver"]

  zammad-redis:
    container_name: zammad-redis
    image: redis:${REDIS_VERSION:-7.4.7-alpine}
    restart: ${RESTART:-always}
    volumes:
      - /mnt/user/appdata/zammad/redis:/data

  zammad-scheduler:
    <<: *zammad-service
    container_name: zammad-scheduler
    command: ["zammad-scheduler"]

  zammad-websocket:
    <<: *zammad-service
    container_name: zammad-websocket
    command: ["zammad-websocket"]
